@import url(https://fonts.googleapis.com/css?family=Inconsolata);

body{
    padding:50px;
    font-family: 'Inconsolata';
    color:#777;
    /*font-weight:300;*/
}

p{
    margin:0 0 20px;
}


h1{
    font-size:26px;
    line-height:1.1;
    color:#222;
    margin:0 0 20px;
}
h1 a{
    color:#222;
}
h1 a:hover{
    color:#39C;
}

h2{
    font-size:20px;
    line-height:1.1;
    color:#222;
    margin:0 0 20px;
}

h2 a{
    font-size:20px;
    line-height:1.1;
    color:#222;
    margin:0 0 20px;
}

h3{
    font-size:17px;
    line-height:1.1;
    color:#222;
    margin:0 0 20px 30px;
   
}

h4{
    font-size:17px;
    line-height:1.1;
    margin:0 0 0 50px;
}
h5{
    font-size:14px;
    margin-top:-10px;
    text-align:center;
}
.ul{
    margin-left:30px;
}

li{
    margin-bottom:10px;
}
#menu{
    position:fixed;
    width:300px;
    font-weight:400;
    margin-right:30px;
    padding:5px;
       /*background-color:purple;*/
}
#menu p{

}
.sub_menu{
    list-style-type:none;
    font-size:20px;
    line-height:1.1;
    color:#39C;
    
}

a{
    text-decoration:none;
    color:#39C;
}
#contenido{
    margin-top:50px;
    padding:5px;
    width:600px;
    margin-left:400px;
/*background-color:green;*/

}
