html,
body {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	}

svg {
	width:100%;
	height:100%;
	}

#vis {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	}

.cell {
	stroke:#ffffff;
	}

/*calendar color*/
/*.q0-11{fill:rgb(165,0,38)}
.q1-11{fill:rgb(215,48,39)}
.q2-11{fill:rgb(244,109,67)}
.q3-11{fill:rgb(253,174,97)}
.q4-11{fill:rgb(254,224,139)}
/\*Aquest és el de dalt*\/
.q5-11{fill:rgb(255,255,191)}
.q6-11{fill:rgb(217,239,139)}
.q7-11{fill:rgb(166,217,106)}
.q8-11{fill:rgb(102,189,99)}
.q9-11{fill:rgb(26,152,80)}
.q10-11{fill:rgb(0,104,55)}*/

.q0-11{fill:rgb(255,255,191)}
.q1-11{fill:rgb(215,48,39)}
.q2-11{fill:rgb(244,109,67)}
.q3-11{fill:rgb(253,174,97)}
.q4-11{fill:rgb(254,224,139)}
/*Aquest és el de dalt*/
.q5-11{fill:#3973ac}
.q6-11{fill:#4080bf}
.q7-11{fill:#538cc6}
.q8-11{fill:#6699cc}
.q9-11{fill:#79a6d2}
.q10-11{fill:#8cb3d9}