
body{
    padding:50px;
    font-family:'Montserrat', sans-serif;
    color:#777;
    /*font-weight:300;*/
}

.wrapper{
    width:860px;
    margin:0 auto;
}
p{
    margin:0 0 20px;
}


h1{
    font-size:26px;
    line-height:1.1;
    color:#222;
    margin:0 0 20px;
}

h2{
    font-size:20px;
    line-height:1.1;
    color:#222;
    margin:0 0 20px;
}

h2 a{
    font-size:20px;
    line-height:1.1;
    color:#222;
    margin:0 0 20px;
}

h3{
    font-size:17px;
    line-height:1.1;
    color:#222;
    margin:0 0 20px 30px;

}

h4{
    font-size:17px;
    line-height:1.1;
    margin:0 0 0 50px;
}
.ul{
    margin-left:30px;
}

li{
    margin-bottom:10px;
}
#menu{
    width:300px;
    float:left;
    position:fixed;
    font-weight:400;
    /*background-color:purple;*/
}
#menu p{

}
.sub_menu{
    list-style-type:none;
    font-size:20px;
    line-height:1.1;
    color:#222;
}
td{
    padding:4px;
    font-size:14px;
    text-align:justify;
}
a{
    text-decoration:none;
    color:#39C;
}
#contenido{
    padding:5px;
    width:600px;
    float:right;
    background-color:green;
}
