body{
    font:large/1.556 "Libertine", Palatino, "Palatino Linotype", "Book Antiqua", Georgia, "Times New Roman", serif;
    word-spacing:0.1em;
    background-color:#FFFFFF;
}
html,
body{
    color:#000000;
    text-align:justify;
    font-family: 'Cuprum', sans-serif;
    
}

#Header{
    text-align:center;
    height:150px;
    /* background-color:blue;*/
    margin-top:-5px;
    margin-bottom:0px;
    /*float:left;*/
    background-color:#D8D8D8 ;
   
}

img{
    margin-left:0px;
}
h2{
  font-size:28px;  
 
    
}
#content{
    margin-top:15px;
    display: block;
}
.Infos{
    width:90%;
    height:23px;
    font-size:small;
    margin-top:15px;
    /* background-color:#FFFFFF;*/
}

.menu{
    
    height:18px;
    font-size:small;
    padding:0px;
    /* background-color:red;*/
}

li{
    display:inline;
    width:30px;
    margin-right:4px;
    font-size:1.2em;
}

li a{
    text-decoration:none;
    font-size:small;
}

#left1{
    width:48%;
    height:500px;
    float:left;
    padding:3px;
    margin-top:1px;
    /* background-color:#FFFFFF;*/
    font-size:0.9em;


}
#left2{
    width:95%;
    height:95%;
    border-style:solid;
    border-color:black;
    /*float:left;*/
    padding:6px;
    overflow-y:scroll;
    overflow-x:hidden;
    margin-top:10px;
}

#right1{
    width:48%;
    height:500px;
    float:right;
    padding:3px;
    margin-top:1px;
    font-size:0.9em;
}
#right2{
    width:95%;
    height:95%;
    border-style:solid;
    border-color:black;
    /*    float:right;*/
    padding:6px;
    overflow-y:scroll;
    overflow-x:hidden;
    margin-top:10px;
}

.title{
    color:#660000;
    border:solid;
    padding:4px;
    margin:4px;
}
a{
    color:black;
    font-weight:bold;
}

p img{
    width:13px;
    height:13px;
    border:solid 0.5px;
    margin:4px;
}
